.app.dark {
  --bg-color: #236e70;
  --inverted-bg-color: #c7cecc;

  --primary-color: #c7cecc;
  --inverted-primary-color: #236e70;
  --secondary-color: #0E1111;
  --inverted-secondary-color: #ffffff;
}