.app.light {
  --inverted-bg-color: #236e70;
  --bg-color: #c7cecc;

  --inverted-primary-color: #c7cecc;
  --primary-color: #236e70;
  --inverted-secondary-color: #0E1111;
  --secondary-color: #ffffff;

}
