.app.light {
  --bg-color: #d8f7fc;
  --inverted-bg-color: #5252d3;

  --primary-color: #041c65;
  --inverted--primary-color: #6a6b7e;
  --secondary-color: #ffffff;
  --inverted-secondary-color: #090a0c;

}
